version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: daily
    time: "06:00"
    timezone: Etc/UCT
  pull-request-branch-name:
    separator: "-"
  open-pull-requests-limit: 10
  reviewers:
  - GLOFonseca
  - NFavareto
  labels:
  - dependabot
  - dependencies
