# Service
HELLPER_BIND_ADDRESS=:8080
HELLPER_ENVIRONMENT=staging

# Dependencies
HELLPER_LOGGER=zap
HELLPER_CLIENT=slack
HELLPER_DATABASE=postgres
HELLPER_FILE_STORAGE=none
HELLPER_CALENDAR=none

# Dependencies Configuration
HELLPER_OAUTH_TOKEN=YOUR_SLACK_OAUTH_TOKEN
HELLPER_SLACK_SIGNING_SECRET=YOUR_SLACK_SIGNING_SECRET
HELLPER_PRODUCT_CHANNEL_ID=YOUR_INCIDENT_CHANNEL_ID
HELLPER_SUPPORT_TEAM=@team-incident
HELLPER_DSN=postgres://hellper:hellper@hellper_db:5432/hellper?sslmode=disable
HELLPER_GOOGLE_CREDENTIALS=YOUR_GOOGLE_CREDENTIALS
HELLPER_GOOGLE_DRIVE_FILE_ID=YOUR_GOOGLE_DRIVE_FILE_ID
HELLPER_GOOGLE_DRIVE_TOKEN=YOUR_GOOGLE_DRIVE_TOKEN
HELLPER_GOOGLE_CALENDAR_ID=YOUR_GOOGLE_CALENDAR_ID
HELLPER_GOOGLE_CALENDAR_TOKEN=YOUR_GOOGLE_CALENDAR_TOKEN
HELLPER_MEETING=matrix
HELLPER_MEETING_PROVIDER_CONFIG={"matrixHost":"YOUR_MATRIX_HOST_URL"}

# Incident Management
HELLPER_POSTMORTEM_GAP_DAYS=5
HELLPER_SLA_HOURS_TO_CLOSE=168
HELLPER_REMINDER_OPEN_STATUS_SECONDS=7200
HELLPER_REMINDER_RESOLVED_STATUS_SECONDS=86400
HELLPER_REMINDER_OPEN_NOTIFY_MSG=Incident Status: Resolved - Update the status of this incident, just pin a message with status on the channel.
HELLPER_REMINDER_RESOLVED_NOTIFY_MSG=Incident Status: Open - Update the status of this incident, just pin a message with status on the channel.
HELLPER_MATRIX_HOST=YOUR_MATRIX_HOST
HELLPER_NOTIFY_ON_RESOLVE=true
HELLPER_NOTIFY_ON_CLOSE=true
HELLPER_PRODUCT_LIST=Product A;Product B;Product C
HELLPER_TIMEZONE=America/Sao_Paulo
