HELLPER_LANGUAGE=pt-br
HELLPER_BIND_ADDRESS=:8080
HELLPER_DATABASE=postgres
HELLPER_DSN=postgres://hellper_dev:hellper_dev@hellper_db:5432/hellper_dev?sslmode=disable
HELLPER_ENVIRONMENT=staging
HELLPER_GOOGLE_DRIVE_CREDENTIALS=YOUR_GOOGLE_DRIVE_CREDENTIALS
HELLPER_GOOGLE_DRIVE_FILE_ID=YOUR_GOOGLE_DRIVE_FILE_ID
HELLPER_GOOGLE_DRIVE_TOKEN=YOUR_GOOGLE_DRIVE_TOKEN
HELLPER_GOOGLE_CALENDAR_TOKEN=YOUR_GOOGLE_CALENDAR_TOKEN
HELLPER_GOOGLE_CALENDAR_ID=YOUR_GOOGLE_CALENDAR_ID
HELLPER_POSTMORTEM_GAP_DAYS=5
HELLPER_MATRIX_HOST=YOUR_MATRIX_HOST
HELLPER_PRODUCT_CHANNEL_ID=#incidents
HELLPER_SUPPORT_TEAM=@team-incident
HELLPER_REMINDER_OPEN_STATUS_SECONDS=7200
HELLPER_REMINDER_RESOLVED_STATUS_SECONDS=86400
HELLPER_REMINDER_OPEN_NOTIFY_MSG=Incident Status: Resolved - Update the status of this incident, just pin a message with status on the channel.
HELLPER_REMINDER_RESOLVED_NOTIFY_MSG=Incident Status: Open - Update the status of this incident, just pin a message with status on the channel.
HELLPER_OAUTH_TOKEN=YOUR_SLACK_OAUTH_TOKEN
HELLPER_VERIFICATION_TOKEN=YOUR_SLACK_VERIFICATION_TOKEN
HELLPER_NOTIFY_ON_RESOLVE=true
HELLPER_NOTIFY_ON_CLOSE=true
FILE_STORAGE=google_drive
HELLPER_PRODUCT_LIST=Product A;Product B;Product C
TIMEZONE=America/Sao_Paulo
