HELLPER_DSN=postgres://hellper_dev:hellper_dev@hellper_db:5432/hellper_dev?sslmode=disable
#HELLPER_DATABASE=DATABASE
#HELLPER_DSN=DSN
#HELLPER_ENVIRONMENT=ENVIRONMENT
#HELLPER_GOOGLE_DRIVE_CREDENTIALS=GOOGLE_DRIVE_CREDENTIALS
#HELLPER_GOOGLE_DRIVE_FILE_ID=GOOGLE_DRIVE_FILE_ID
#HELLPER_GOOGLE_DRIVE_TOKEN=GOOGLE_DRIVE_TOKEN
#HELLPER_MATRIX_HOST=MATRIX_HOST
#HELLPER_OAUTH_TOKEN=OAUTH_TOKEN
#HELLPER_PRODUCT_CHANNEL_ID=PRODUCT_CHANNEL_ID
#HELLPER_REMINDER_STATUS_SECONDS=REMINDER_STATUS_SECONDS
#HELLPER_SUPPORT_TEAM=SUPPORT_TEAM
#HELLPER_USER_TOKEN=USER_TOKEN
#HELLPER_VERIFICATION_TOKEN=VERIFICATION_TOKEN
